<div class="back-button-container">
    <po-button p-label="Voltar" p-icon="po-icon-arrow-left" (p-click)="navigateHome()"></po-button>
</div>

<div class="main-container">
    <!-- Tabela de Código de Máquina -->
    <div class="table-container">
        <h2>Código de Máquina</h2>
        <div class="scroll-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Linha (i)</th>
                        <th>Instrução</th>
                        <th>Atributo 1</th>
                        <th>Atributo 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instruction of instructions" [class.highlight]="instruction.line === currentLine">
                        <td>{{ instruction.line }}</td>
                        <td>{{ instruction.instruction }}</td>
                        <td>{{ instruction.attribute1 }}</td>
                        <td>{{ instruction.attribute2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Botões e Checkbox para o modo de execução -->
        <div class="controls">
            <po-button p-label="Executar" (click)="startExecution()" [p-disabled]="isExecuting"></po-button>
            <po-button p-label="Parar Execução" (click)="stopExecution()"></po-button>
            <po-checkbox name="stepByStep" p-label="Passo a Passo" [(ngModel)]="stepByStep"></po-checkbox>
        </div>
    </div>

    <!-- Tabela de Pilha de Dados -->
    <div class="table-container">
        <h2>Memória (Pilha)</h2>
        <div class="scroll-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Endereço (s)</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of stack; let address = index" [ngClass]="{'highlight-stack': address === s}">
                        <td>{{ address }}</td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Nova coluna para Saída -->
    <div class="table-container output-container">
        <textarea class="terminal" [(ngModel)]="output" rows="20" readonly></textarea>
    </div>
</div>

<po-loading-overlay [p-screen-lock]="true" p-text="Compilando" p-size="xl" [hidden]="!isLoading"></po-loading-overlay>